.header-container{
    display: flex;
    
    align-items: center;
    flex-direction: row;
    background-color: #1877f2;
    width: 100%;
    position: sticky;
    top: 0;
    height: 4rem;
    
    z-index: 5;
}
.headerLogo{
    flex: 4;
 
}
.h1{
    font-size: 36px;
  margin-left: 100px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.headerInput{
    flex:5;
   
}
.headerSearch{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
}
.searchIcon{
    font-size: 20px;
    margin-left: 10px;
}
.headerSearch input{
    border: none;
    width: 35vw;
}
.headerSearch input:focus {
    outline: none;
}

.headerPersonal{
    flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}

.signout{
    cursor: pointer;
   background-color: red;
    box-shadow: 0 6px 10px gray;
    font-size: 30px;
    border-radius: 5px;
}
.signout:hover{

    box-shadow: 0 3px 5px gray;
   
}
.signout::after{
    content: "登出";
    font-size: 16px;
}